*{
margin: 0;
padding: 0;

}
html,body{
overflow-x: hidden;
}
:root{
--primaryColor:pink;
--secondaryColor:green ;
--thirdColor:blue ;
--textColor:black ;
}




/* mobile first we start with media queries--
if go below 300 change color to nocolor--and go over 600px it change to no color again
we focus bet 300px and 600px*/
@media only screen and (max-width: 600px) and (min-width: 300px)  {

    .NavBar{
        background-color: var(--secondaryColor);
        width: 100%;
        height:auto ;
        padding: 5px;
        position: relative;/*parent so we can move nav bae to right side*/

        }
        /*fa-bars is searcg icon*/
        .fa-bars{
position: absolute;/*give position child to move bar to the right*/
top:30px;
right:40px;
font-size: 20px;
        }

    /*we hide nav bar*/

    .hide{
        display: none;
    }

.NavBar a{/* remove under line off*/
   text-decoration: none;
   color: var(--textColor);


}
.NavBar ul li{
margin: 5px 0px 5px 15px;
list-style: none;/*remove dot off*/

}
        .logo{
            width:80px;
            height: ;
        }
        .logo img{
            width:100%; 
        }

        .searchBox input{
           padding: 20px;
            
        }

        .searchInsideBox input{
            padding: 5px 20px;
            border-radius: 20px;
            border: none;
           
        }
        .searchInsideBox{
            margin: 10px;
        }

        .hoverClick:hover{
            background-color:pink ;
        }



}
/*yellow } is end for media querie for phone




/* start media queries for ipad---
max-width: 850px means mediaquries work until 850 go lower to 601 will work
--more than 850px media quries does not work*/

@media only screen and (max-width: 850px)  and (min-width: 601px){

    /*ipad size we do not need drop down bar--so we put display none*/


     /*fa-bars is searcg icon*/
     .fa-bars{
       
        visibility: hidden;/* we hide far bar*/
                }
    .NavBar{
 display: flex;
 align-items: center;
 justify-content: space-between;
    }


    .NavBar ul li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        font-style: none;

    }

  



 .hide a{
text-decoration: none;/*remove hyperlink*/
    }

    .controlUL{
        display: flex;
       
       }
    
    

}









/* if do not use min and max width together use below code */
/* mobile first we make mobile size first and put media queries first--add min-width instead of Max width
@media screen and (min-width:400px){
    .NavBar{
        background-color: var(--primaryColor);
        }
}
*/
/* we can use max width and min width at the same time*/
/*if screen size below 600px it will chanhe color to third color-blue
@media screen and (max-width:600px){
    .NavBar{
        background-color: var(--thirdColor);
        }
}

*/